.contacts__btn {
  display: flex;
  align-items: center;
  padding: 16px 26px;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 1300px) {
  .contacts__btn {
    width: 40%;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .contacts__btn {
    width: 100%;
  }
}