.navigation__links {
  width: 100%;
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 32px;
  /* overflow-x: auto; */
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
}
/* .navigation__links::-webkit-scrollbar {
  width: 0;
} */
