.requisites__line:hover {
  background-color: #fafafa;
  background-image: url(../../../images/copy-icon.svg);
  background-repeat: no-repeat;
  background-position: 95%;
}

@media screen and (max-width: 500px) {
  .requisites__line:hover {
    background-image: none;
  }
}
