.contacts__items {
  display: flex;
  min-width: 442px;
  margin-bottom: 24px;
  gap: 32px;
}

@media screen and (max-width: 600px) {
  .contacts__items {
    /* min-width: 345px; */
    min-width: auto;
    align-items: end;
  }
}