.photo-grid__items {
  display: grid;
  grid-auto-flow: column;
  gap: 40px;
  overflow: hidden;
  /* scrollbar-width: thin; */
  /* scrollbar-color: green transparent; */
}

@media screen and (max-width: 1440px) {
  .photo-grid__items {
    gap: 24px;
  }
}
